node_modules
.pnpm-store
.next
coverage

.venv
__pycache__
.pytest_cache
*.pyc

apps/openapi.json
apps/api/.venv
apps/web/node_modules
apps/web/.next
.env
.env.local
apps/api/.env
apps/web/.env
apps/web/.env.local
