node_modules
.pnpm-store
.next
coverage

.venv
__pycache__
.pytest_cache
*.pyc

apps/openapi.json
apps/api/.venv
apps/web/node_modules
apps/web/.next

# env files
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

sandbox.py
2024ltr.pdf
citation_test.py